h1{line-height: 50px;}
h2{line-height: 40px;}
img{vertical-align: top;}
.wrap{width: 960px; margin: 0 auto; padding-top: 15px;padding-bottom: 15px;position: relative}

#banner{width: 560px;height: 240px;position: relative;overflow: hidden; float: left;}
ul.banner-slider-wrap{position: absolute; width: 470px; left: 0; top: 0; z-index: 1;}

ol.banner-slider-point{position: absolute; right: 10px; bottom: 4px; z-index: 2;}
ol.banner-slider-point > li{float: left; padding:0 8px; margin: 4px; background: #fff; color: #f60; text-align: center; vertical-align: middle; line-height: 20px;}
ol.banner-slider-point > li.active{background: #f60; color: #fff;}

.proInfo{margin-left: 30px;  width: 370px; float: left;}
.proInfo > p{text-indent: 2em; line-height: 18px; word-break:break-word;}


.proList:before{clear:both; content:".";  display: block;visibility: hidden; height: 10px;}
.proList
.lists{ background-color: #eee; border-top: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;}

.listInfo{padding-bottom: 30px; overflow: hidden;}
.listInfo > dt{float: left; height: 280px;}
.listInfo > dt > a{display: block; max-width: 550px; height: 240px; overflow: hidden;}
.listInfo > dd{float: right; padding-top: 50px; margin-right:60px; }
/*.listInfo > dd > img{  }*/