<html>
<head>
<title>lark商城</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">	<meta name="apple-mobile-web-app-capable" content="yes">	<meta name="apple-mobile-web-app-status-bar-style" content="black" />		<meta content="telephone=no" name="format-detection" />	
<script type="text/javascript" src="/fml.js"></script>
<link rel="stylesheet" type="text/css" href="/base.css"></link>
</head>
<body>
<header>
	<img src="/pc/head.png" alt="">
</header>