<%# header.html #%>
<div class="wrap">
	<h1>游戏需求录入（样式就是这么朴素）</h1>
	<fieldset class="form_info">
		<div> 
			<label for="pro_name">需求名称：</label>
			<input type="text" class="form_control" name="name" id="name">
		</div>
		<div>
			<label for="des">需求描述：</label>
			<input type="text" class="form_control" name="des" id="des">
		</div>
		<div>
			<label for="user">需求产品：</label>
			<input type="text" class="form_control" name="user" id="user">
		</div>
		<p class="error"></p>
		<p class="ipt"><input type="submit" class="fm_sub" value="提 交"/></p>

	</fieldset>
</div>
<img src=""/ id="qrcode_c">
<%
	fml.use('page/pm');
%>
<%# footer.html #%>