<%# header.html #%>
<div class="main">
	<div class="logo">
		<img class="logo-img" src="/logo.png">
		<img class="logo-title" src="/name.png">
	</div>
	<img class="head-banner" src="/head.png">
	<!-- 找块块cubeFind -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/cubeFind/"><p class="title">找块块</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/cubeFind/"><img class="img-game" src="/cubeFind.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div> 
		<div class="point3"></div>
	</div>
	<!-- 找你妹znm -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/znm/"><p class="title">找你妹</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/znm/"><img class="img-game" src="/znm.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 打地鼠ground -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/ground/"><p class="title">打地鼠</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/ground/"><img class="img-game" src="/ground.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 摇一摇shake -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/shake/"><p class="title">摇一摇</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/shake/"><img class="img-game" src="/shake.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 拼图pt -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/pt/"><p class="title">拼图</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/pt/"><img class="img-game" src="/pt.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 别踩白块whiteBlock -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/whiteBlock/"><p class="title">别踩白块</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/whiteBlock/"><img class="img-game" src="/whiteBlock.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 投篮basketball -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/basketball/"><p class="title">投篮</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/basketball/"><img class="img-game" src="/basketball.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 俄罗斯方块diamond -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/diamond/"><p class="title">俄罗斯方块</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/diamond/"><img class="img-game" src="/diamond.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 画圆circular -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/circular/"><p class="title">画圆</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/circular/"><img class="img-game" src="/circular.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<!-- 堆木头wood -->
	<div class="big-content">
		<div class="small-content">
			<a href="http://m.meilishuo.com/lark/wood/"><p class="title">堆木头</p></a>
			<p class="describe"></p>
			<a href="http://m.meilishuo.com/lark/wood/"><img class="img-game" src="/wood.png"></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<div class="foot-banner">
		<img src="/continue.png">
	</div>
</div>
<%
	fml.use('page/show');
%>
<%# footer.html #%>