<%# header.html #%>
<div class="main">
	<div class="logo">
		<img class="logo-img" src="/logo.png">
		<img class="logo-title" src="/name.png">
	</div>
	<img class="head-banner" src="/head.png">
	<div class="big-content">
		<div class="small-content">
			<a href=""><p class="title">basketball</p></a>
			<p class="describe">describedescribedescribede</p>
			<a href=""><img class="img-game" src=""></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div> 
		<div class="point3"></div>
	</div>
	<div class="big-content">
		<div class="small-content">
			<a href=""><p class="title">basketball</p></a>
			<p class="describe">describedescribedescribede</p>
			<a href=""><img class="img-game" src=""></a>
		</div>
	</div>
	<div class="point">
		<div class="point1"></div>
		<div class="point2"></div>
		<div class="point3"></div>
	</div>
	<div class="foot-banner">
		<img src="/continue.png">
	</div>
</div>
<%
	fml.use('page/show');
%>
<%# footer.html #%>